.page-header {
    border-color: #0d00c2;
    background: #dd732c49;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 0px 0px 15px 10px;
}

body{
    padding-left: 40px;
    color: rgb(172, 114, 64);
    background: #ffffff;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active{
    color: rgb(126, 16, 230);
    font-size: 36pt;
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: 'Lobster', cursive;
}

.date{
    color: #0f2d2e;
}

.save{
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post{
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited{
    color: #e47b7b;
}

.post > .date, .post > .actions {
    float: right;
}

btn-secondary, btn-secondary:visited{
    color: #C25100;
    background: none;
    border-color: #C25100;
}